body {
  font-family: Arial, sans-serif;
  display: flex;
  background: url('https://i.imgur.com/ylA6Sjl.png') repeat; /* Self-repeating background image */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #000000; /* Black background color */
}

.title-container, .links-container {
  width: 400px; /* Width for both containers */
  background-color: #2e2e2e; /* Dark gray color */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: center;
  border: 5px solid #d3d3d3; /* Light gray border */
}

h1 {
  margin: 0;
  font-size: 24px; /* Adjust font size if needed */
  white-space: nowrap; /* Force title to stay on one line */
  color: #d3d3d3; /* Light gray font color */
}

.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  width: 150px; /* Fixed width for buttons */
  padding: 10px 0; /* Adjust padding for height */
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 0 auto; /* Center the buttons */
  border: 2px solid #d3d3d3; /* Increased light gray border */
}

.steam {
  background-color: #1b2838;
  font-size: 24px; /* Increased font size for Steam button */
  width: 300px; /* Double the width for Steam button */
  padding: 20px 0; /* Double the padding for Steam button */
}

.discord {
  background-color: #5865f2;
}

.x {
  background-color: #000000;
}

.youtube {
  background-color: #ff0000;
}

.instagram {
  background-color: #e1306c;
}

.button:hover {
  opacity: 0.8;
}
